section {
    max-width: 500px;
    margin: 50px auto;
    background-color: rgb(9, 178, 230);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

input {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
}
button {
    margin: 15px auto;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
    background: blueviolet;
    color: white;
    cursor: pointer;
}

button:hover {
    background: rgb(154, 90, 214);
}
span {
    color: red;
}